In [1]:
import pandas as pd
import torch
import matplotlib.pyplot as plt
import numpy as np

from numpy.linalg import norm
from math import sqrt

**Huge diffusion file in a google disk**

In [2]:
path = './graphs/diff_N100_t50_interval10dt.csv'

df = pd.read_csv(path, skiprows=[0,1])
df.shape

(6000, 400)

In [3]:
df.head()

,t,0x,0y,0z,t.1,1x,1y,1z,t.2,2x,...,97y,97z,t.98,98x,98y,98z,t.99,99x,99y,99z
0,20.000,-0.000618,-0.000439,0.001027,20.000,0.000392,0.001069,-0.000501,20.000,-0.000404,...,-0.000215,-0.000814,20.000,0.000071,-0.000410,0.001553,20.000,0.001234,0.000899,0.001204
1,20.005,-0.006787,-0.004844,0.011301,20.005,0.004307,0.011768,-0.005515,20.005,-0.004417,...,-0.002374,-0.008948,20.005,0.000785,-0.004511,0.017087,20.005,0.013588,0.009913,0.013257
2,20.010,-0.012933,-0.009282,0.021586,20.010,0.008219,0.022492,-0.010533,20.010,-0.008400,...,-0.004551,-0.017079,20.010,0.001500,-0.008609,0.032621,20.010,0.025973,0.018966,0.025332
3,20.015,-0.019056,-0.013756,0.031885,20.015,0.012129,0.033242,-0.015557,20.015,-0.012363,...,-0.006745,-0.025207,20.015,0.002215,-0.012706,0.048157,20.015,0.038389,0.028059,0.037430
4,20.020,-0.025154,-0.018268,0.042196,20.020,0.016035,0.044018,-0.020587,20.020,-0.016313,...,-0.008956,-0.033331,20.020,0.002932,-0.016802,0.063694,20.020,0.050836,0.037194,0.049552

In [4]:
df.iloc[500]['0x']

-6.187410926979887

In [5]:
N = 100
step = 1    # шаг - через сколько рядов смотрю новый квадрат перемещения
part_dict = {}

In [6]:
for row_numb in range(df.shape[0] - 1):
    for p_numb in range(N):
        row = df.iloc[row_numb]
        x = row[str(p_numb) + 'x']
        y = row[str(p_numb) + 'y']
        z = row[str(p_numb) + 'z']
        # print(f'p_numb = {p_numb}: {x, y, z}')

        row_next = df.iloc[row_numb + 1]
        x_next = row_next[str(p_numb) + 'x']
        y_next = row_next[str(p_numb) + 'y']
        z_next = row_next[str(p_numb) + 'z']
        # print(f'p_numb = {p_numb}: {x_next, y_next, z_next}')
        break
    break